vemdc/squashfs/diskless/*
vemdc/target/*
vemdc/matchbox/matchbox_data/assets/ubuntu-26/ubuntu-26.04-live-server-amd64.iso
vemdc/matchbox/matchbox_data/assets/ubuntu-26/vmlinuz
vemdc/matchbox/matchbox_data/assets/ubuntu-26/initrd
vemdc/matchbox/matchbox_data/assets/ubuntu-26-live/vmlinuz
vemdc/matchbox/matchbox_data/assets/ubuntu-26-live/initrd.img
vemdc/matchbox/matchbox_data/assets/ubuntu-26-live/filesystem.squashfs
vemdc/matchbox/matchbox_data/groups/*
vemdc/matchbox/matchbox_data/assets/*.efi

ipxe/target/*

matchbox/target/*

frr/target/*

containerd-fuse-overlayfs/target/*

